body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#settings {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}
input,option,select{
    margin-bottom: 20px;
    padding: 7px;
    outline: none;
    border: solid black 2px;
    border-radius: 5px;
    width: 20rem;
}
input[type="radio"] {
    width: auto;
}
input:focus{
    border: solid #55efc4 2px;
}